@tailwind base;
@tailwind components;
@tailwind utilities;

/* styles/loadingSpinner.css (o donde sea que quieras definir tus estilos) */

@keyframes custom-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  
  .animate-custom-spin {
    animation: custom-spin 1s linear infinite;
  }
  


